@charset "UTF-8";






@media screen and (min-width:789px) {
    span#menu {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }
}