@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #a3a3a3;
}

header>h1 {
    text-align: center;
    padding: 10px;
}

span#menu {
    background-color: rgb(48, 48, 48);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#menu:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: gray;
}


main {
    padding: 10px;
    background-color: #d4d4d4;
    height: 100vh;
}

article {
    margin: auto;
    padding: 10px;
    max-width: 750px;
    background-color: #fff;
    border-radius: 10px;
}

article>h1 {
    margin-bottom: 15px;
}

article>p {
    margin-bottom: 15px;
}