.quadrado {
    height: 200px;
    width: 200px;
    margin: 5px;
    display: inline-block;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 10px;
}

#q1 {
    background-color: lightblue;
}

#q2 {
    background-image: linear-gradient(to bottom, yellow, orange);
}

#q3 {  
    background-image: url(https://www.papeiseparede.com.br/7608-thickbox_default/papel-de-parede-adesivo-astronauta-no-espaco.jpg.webp);
}

body{  
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5c1HE316Fy6I7u1u3Kq-3VsLTBLStFXOVYg&usqp=CAU);
}