* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
    height: 100vh;
}

header {
    background-color: #a0a0a0;
    margin-bottom: 5px;
}

header>h1 {
    text-align: center;
    padding-top: 15px;
}

menu ul {
    list-style-type: none;
}

menu li {
    display: inline-block;
    padding: 5px;
    margin-top: 30px;
    background-color: #c2c1c1;
    box-shadow: 0px -1px 1px #000000;
}

main {
    max-width: 400px;
    margin: auto;
}

article {
    margin: 5px;
    padding: 8px;
    background-color: white;
    border-radius: 5px;
}