* {
    margin: 0;
    padding: 0;
}

/* div {
    position: relative;
}

img {
    position: absolute;
    bottom: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */

body {
    background-image: url(https://github.com/gustavoguanabara/html-css/blob/master/desafios/modulo-02/d011/imagens/espaco.jpg?raw=true);
    background-repeat: no-repeat;
    background-position: center center;
}